<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
       "
>
    <!--手动配置一个叫student的bean-->
    <bean id="student" class="com.example.spring.beans.Student"/>
    <!--配置扫描com.example.spring.beans下的所有bean-->
    <context:component-scan base-package="com.example.spring.beans"/>
    <context:component-scan base-package="com.example.spring.aop"/>
    <!--配置扫描com.example.spring.listeners下的所有bean-->
    <context:component-scan base-package="com.example.spring.listenters"/>
    <!--配置扫描com.example.spring.components下的所有bean-->
    <context:component-scan base-package="com.example.spring.components"/>

    <bean id="testObj1Factory" class="com.example.spring.beans2.TestObj1Factory"/>
    <bean id="testObj1" factory-bean="testObj1Factory" factory-method="createTestObj"/>
    <bean id="testObj2" class="com.example.spring.beans2.TestObj2" factory-method="createInstance"/>
    <bean id="bean3" class="com.example.spring.beans2.Bean3" init-method="initMethod"/>
    <bean id="componentScanConfig" class="com.example.spring.config.ComponentScanConfig"/>
</beans>